rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /centres/{document} {
      allow read: if signedIn();
      allow write: if false;
    }
    match /stock_items/{document} {
      allow read: if signedIn();
      allow write: if false;
    }
    match /beds/{document} {
      allow read: if signedIn();
      allow write: if false;
    }
    match /doctors/{document} {
      allow read: if signedIn();
      allow write: if false;
    }
    match /tests/{document} {
      allow read: if signedIn();
      allow write: if false;
    }
    match /footfall_logs/{document} {
      allow read: if signedIn();
      allow write: if false;
    }
  }
}
